@model WebsiteBanHang.Models.IndexData

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div style="font-size:xx-large;margin-left:45%;margin-bottom:20px">Hãy ghé thăm chúng tôi</div>
    <div class="row" style="margin-left:10px">
        <div class="span4" style="margin-left:15%">
            <h4>Chi tiết liên hệ</h4>
            <p style="font-size:large">
                Ấp nguyễn Cử - Xã Nhị Mỹ,<br /> Cao Lãnh - Đồng Tháp
                <br /><br />
                kien10cb1@gmail.com<br />
                ﻿Tel 097 769 2112<br />
                Fax 097 769 2112<br />
               
            </p>
        </div>

        <div style="font-size:large">
            <h4>Giờ mở cửa</h4>
            <h5> Thứ Hai - Thứ Sáu</h5>
            <p>09:00am - 09:00pm<br /><br /></p>
            <h5>Thứ Bảy - Chủ Nhật</h5>
            <p>10:00am - 16:00pm<br /><br /></p>
            
        </div>

        <div class="span9" style="float:right;margin-left:10px">
            <iframe style="width:100%; height:500px; border: 0px" scrolling="no" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18+California,+Fresno,+CA,+United+States&amp;aq=0&amp;oq=18+California+united+state&amp;sll=39.9589,-120.955336&amp;sspn=0.007114,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=18,+Fresno,+California+93727,+United+States&amp;t=m&amp;ll=36.732762,-119.695787&amp;spn=0.017197,0.100336&amp;z=14&amp;output=embed"></iframe><br />
            <small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=18+California,+Fresno,+CA,+United+States&amp;aq=0&amp;oq=18+California+united+state&amp;sll=39.9589,-120.955336&amp;sspn=0.007114,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=18,+Fresno,+California+93727,+United+States&amp;t=m&amp;ll=36.732762,-119.695787&amp;spn=0.017197,0.100336&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </div>