
@{
    ViewBag.Title = "ProductsPromosion";
}

<div style="text-align:center;font-size:x-large; margin-left : 30px">
    <h1 style="color:red"; "margin-left : 50px"> CHƯƠNG TRÌNH KHUYẾN MÃI !!! </h1> </br>
    </br>
    <h5>
        Với nhiều khó khăn đến từ dịch bệnh Covid-19, kỳ thi THPT 2020 được xem là một trong những kỳ thi đặc biệt nhất từ trước đến nay.</br>
        Hiểu được sự khó khăn của các bạn, KienSotre đã thực hiện hàng loạt hoạt động đồng hành cùng sĩ tử trong suốt mùa thi vừa qua.</br>
        Đầu tiên là chương trình trắc “nghiệm tính cách, định hướng nghề nghiệp” diễn ra từ ngày 01 - 24/08/2020  tại website của hệ thống. </br>
        Tham gia bài thi trắc nghiệm này, bạn có thể chọn được nghề nghiệp phù hợp với tính cách của bản thân và đặc biệt là có cơ hội nhận 20 bộ quà tặng với tổng trị giá lên đến 90 triệu đồng.</br>
        Ngoài ra, suốt 2 ngày diễn ra kỳ thi THPT 2020 (9 và 10/8), FPT Shop đã cử hàng ngàn nhân viên thay nhau túc trực tại hơn 200 điểm thi khắp cả nước để phát khẩu trang diệt khuẩn, nước uống, quạt tay miễn phí cũng như kịp thời hỗ trợ kịp thời trong những tình huống khẩn cấp.
   </h5>
    <img src="~/Content/themes/images/sale.png"alt="HTML5 Icon" style="width:900px;height:500px;margin-left: -144px;">
    </br>
    <h5>
        Ngoài ra, bạn còn có thể chọn ưu đãi trả góp 0% lãi suất với kỳ hạn lên đến 6 tháng và không cần trả trước bất kỳ khoản nào.</br>
        Thủ tục trả góp cũng vô cùng đơn giản, bạn chỉ cần mang theo chứng minh dân dân cùng bằng lái xe (hoặc sổ hộ khẩu) và làm thủ tục trong vòng 15 phút là có thể mang chiếc laptop mới toanh về nhà. </br>
        Thậm chí, bạn còn hỗ trợ thực hiện thủ tục trả góp online và không cần phải đến cửa hàng. Đây chính là ưu đãi ‘có một không hai’, giúp các bạn có thể sở hữu sản phẩm một cách nhanh chóng mà không cần lo lắng về vấn đề tài chính.
        Ngoài ra, bạn còn có thể chọn ưu đãi trả góp 0% lãi suất với kỳ hạn lên đến 6 tháng và không cần trả trước bất kỳ khoản nào.</br>
        Thủ tục trả góp cũng vô cùng đơn giản, bạn chỉ cần mang theo chứng minh dân dân cùng bằng lái xe (hoặc sổ hộ khẩu) và làm thủ tục trong vòng 15 phút là có thể mang chiếc laptop mới toanh về nhà. </br>
        Thậm chí, bạn còn hỗ trợ thực hiện thủ tục trả góp online và không cần phải đến cửa hàng. Đây chính là ưu đãi ‘có một không hai’, giúp các bạn có thể sở hữu sản phẩm một cách nhanh chóng mà không cần lo lắng về vấn đề tài chính.
        Ngoài ra, bạn còn có thể chọn ưu đãi trả góp 0% lãi suất với kỳ hạn lên đến 6 tháng và không cần trả trước bất kỳ khoản nào.</br>
        Thủ tục trả góp cũng vô cùng đơn giản, bạn chỉ cần mang theo chứng minh dân dân cùng bằng lái xe (hoặc sổ hộ khẩu) và làm thủ tục trong vòng 15 phút là có thể mang chiếc laptop mới toanh về nhà. </br>
        Thậm chí, bạn còn hỗ trợ thực hiện thủ tục trả góp online và không cần phải đến cửa hàng. Đây chính là ưu đãi ‘có một không hai’, giúp các bạn có thể sở hữu sản phẩm một cách nhanh chóng mà không cần lo lắng về vấn đề tài chính.
    </h5>
</div>

